@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: #262626;
  }
  body {
    background-color: #0f0f0f;
    color: #fafafa;
    font-family: ui-sans-serif, system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
